.box {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
}

@media (min-width: 768px) {
  .box {
    background-color: blueviolet;
  }
}

@media (max-width: 1024px) {
  .box {
    background-color: rgb(43, 180, 226);
  }
}
